*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  border: 3px solid white;
  width: 30rem;
  border-radius: 1rem;
  background: linear-gradient(#1d831d, #082a08);  
}

header:hover {
  transform: scale(1.05);
  box-shadow: 1px 10px 5px black;
  transition: all .1s ease-in;
}

header:active {
  transform: scale(1);
  box-shadow: 0px 4px 5px black;
}

header h1 {
  font-weight: 700;
  word-spacing: 10px;
  letter-spacing: 2px;
}

header a {
  text-decoration: none;
  color: white;
}

button {
  background-image: none;
  border: none;
  background-color: transparent;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background: radial-gradient(#000000 25%, #252525);
  height: 100vh;
  overflow: hidden;
}

main {
  margin-top: 0px;
}

.title {
  text-align: center;
  margin: 100px;
}

.felt {
  border: 3px solid white;
  width: 30rem;
  border-radius: 1rem;
  background: linear-gradient(#1d831d, #082a08);
  margin: 0 auto;
  margin-top: 100px;
  padding: 0.5rem 2rem;
  text-align: center;
}


.cardContainer {
  background: radial-gradient(black 40%, grey);
  border: 3px solid white;
  border-radius: 0.8rem;
  height: 12rem;
  width: 10rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentCard {
  width: min-content;
  height: min-content;
  font-size: 4rem;
}

.buttonsContainer {
  /* border: 3px solid white; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

.btn {
  height: 3.5rem;
  width: 12ch;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 1rem;
  margin-inline: auto;
  box-shadow: 0px 4px 5px black;
  transition: all .1s ease-in;
}

.totalScore {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.betAmount {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 1px 10px 5px black;
}

.btn:active {
  transform: scale(1);
  box-shadow: 0px 4px 5px black;
}

.raiseBetBtn, .lowerBetBtn{
  background: linear-gradient(#985757, #982d2d); 
}

.higherBtn, .lowerBtn {
  background: linear-gradient(#4949b9, #1f1fbb);
}
.firstPlayBtn {
  background: linear-gradient(#985798, #952e95);
  animation-name: buttonPop;
}

.playAgainButton {
  background: linear-gradient(#985798, #952e95);
}

.currentCard {
  width: 100px;
}

.loseScreen {
  z-index: 1000;
  border: 3px solid white;
  width: 30rem;
  border-radius: 1rem;
  background-color: #831f1d;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  text-align: center;
  transform: translateY(-200%);
  animation-name: losePop;
  animation-duration: .5s;
}

.winScreen {
  z-index: 100;
  border: 3px solid white;
  width: 30rem;
  border-radius: 1rem;
  background-color: #152884;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  text-align: center;
  transform: translateY(-250%);
}

.welcomeScreen {
  z-index: 1000;
  border: 3px solid white;
  width: 30rem;
  height: 35rem;
  border-radius: 1rem;
  background-color: rgba(10, 70, 15, 0.97);
  margin: 0 auto;
  padding: 2rem 4rem;
  text-align: center;
  transform: translateY(-150%);
  animation-name: pop;
  animation-duration: .5s;
}

.welcomeScreen h2 {
  font-size: 1.8rem;
}

.welcomeScreen ul {
  text-align: justify;
}



/* keyframes */

@keyframes pop {
  from { 
    color: #ffffff00; 
    border: #ffffff00;
    background-color: #00000000;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(-10000px);
  }
}

@media (max-width: 480px) {
  
  header {
    width: 90%;
  }
  
  header h1 {
    transform: translateX(0px);
    margin: 0 auto;
  }

  .body {
    overflow: visible;
  }

  .felt {
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 450px;
    width: 90%;
    padding: 10px;
  }

  .welcomeScreen {
    transform: translateY(-950px);
    width: 350px;
    height: min-content;
    padding: 20px; 
    overflow: visible;   
  }

  .winScreen {
    width: 300px;
  }

  .loseScreen {
    width: 300px;
  }
}
