*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

button {
  background-image: none;
  border: none;
  background-color: transparent;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background: radial-gradient(#000000 25%, #252525);
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  overflow: hidden;
}
main {
  margin-top: 0px;
}

.title {
  text-align: center;
  margin: 100px;
}

.felt {
  border: 3px solid white;
  width: 30rem;
  border-radius: 1rem;
  background: linear-gradient(#1d831d, #082a08);
  margin: 0 auto;
  margin-top: 100px;
  padding: 0.5rem 2rem;
  text-align: center;
}


.cardContainer {
  background: radial-gradient(black 40%, grey);
  border: 3px solid white;
  border-radius: 0.8rem;
  height: 12rem;
  width: 10rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentCard {
  width: min-content;
  height: min-content;
  font-size: 4rem;
}

.buttonsContainer {
  /* border: 3px solid white; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

.btn {
  height: 2rem;
  width: 6rem;
  color: #000;
  border: 3px solid black;
  border-radius: 1rem;
  margin-inline: auto;
  box-shadow: 0px 4px 5px black;
  /* transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: ease-in; */
  transition: all .1s ease-in;
}

.btn:hover {
  transform: scale(105%);
  box-shadow: 1px 10px 5px;
}

.btn:active {
  transform: scale(100%);
  box-shadow: 0px 4px 5px black;
}

.raiseBetBtn, .lowerBetBtn{
  background: linear-gradient(rgb(152, 87, 87), rgb(152, 45, 45)); 
}

.higherBtn, .lowerBtn {
  background: linear-gradient(rgb(73, 73, 185), rgb(31, 31, 187));
}
.firstPlayBtn {
  background: linear-gradient(rgb(152, 87, 152), rgb(149, 46, 149));
  animation-name: buttonPop;
}

.playAgainButton {
  background: linear-gradient(rgb(152, 87, 152), rgb(149, 46, 149));
}



.currentCard {
  width: 100px;
}

.loseScreen {
  z-index: 1000;
  border: 3px solid white;
  width: 30rem;
  border-radius: 1rem;
  background-color: #831f1d;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  text-align: center;
  transform: translateY(-200%);
  animation-name: losePop;
  animation-duration: .5s;
}

.winScreen {
  z-index: 100;
  border: 3px solid white;
  width: 30rem;
  border-radius: 1rem;
  background-color: #152884;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  text-align: center;
  transform: translateY(-250%);
}

.welcomeScreen {
  z-index: 1000;
  border: 3px solid white;
  width: 30rem;
  height: 35rem;
  border-radius: 1rem;
  background-color: rgba(10, 70, 15, 0.97);
  margin: 0 auto;
  padding: 2rem 4rem;
  text-align: center;
  transform: translateY(-130%);
  animation-name: pop;
  animation-duration: .5s;
}

.welcomeScreen ul {
  text-align: justify;
}


/* keyframes */

@keyframes pop {
  from { 
    color: #ffffff00; 
    border: #ffffff00;
    background-color: #ffffff00;
  }  
  to {
    
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-130%);
  }
  to {
    transform: translateY(-10000px);
  }
}

@media (max-width: 480px) {
  .body {
    overflow: visible;
  }

  .felt {
    transform: scale(75%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 450px;
    width: 320px;
    padding: 10px;
  }

  .welcomeScreen {
    transform: translateY(-800px);
    width: 300px;
    height: min-content;
    padding: 20px;    
  }

  .winScreen {
    width: 300px;
  }

  .loseScreen {
    width: 300px;
  }
}
